.dialog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.right-padding {
    margin-right: 5px;
}

.left-padding {
    margin-left: 5px;
}

.btn {
    width: 45%;
    max-width: 150px;
    background: #2b3252;
    border-radius: 50px;
}

.actions {
    width: 100%;
}


.red-text {
    color: #ef5455;
}

.card-image {
    height: auto;
    width: 50%;
    max-height: 500px;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
}