.dialog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.right-padding {
    margin-right: 5px;
}

.left-padding {
    margin-left: 5px;
}

.btn {
    width: 45%;
    max-width: 150px;
    background: #2b3252;
    border-radius: 50px;
}

.actions {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    width: 80%;
}

.padding {
    height: 10%;
}

.txInput {
    width: 100%;
}