<footer class="footer-distributed">

    <!-- <div class="footer&#45;right"> -->
    <!--  -->
    <!--     <a href="https://www.facebook.com/divvyseattle/?modal=admin_todo_tour"><i class="fa fa&#45;facebook"></i></a> -->
    <!--     <a href="https://www.twitter.com"><i class="fa fa&#45;twitter"></i></a> -->
    <!--     <a href="https://www.linkedin.com"><i class="fa fa&#45;linkedin"></i></a> -->
    <!-- </div> -->

    <div class="footer-left">

        <!-- <p class="footer&#45;links"> -->
        <!--     <a [routerLink]="['/']">Home</a> -->
        <!--     · -->
        <!--     <a (click)="allItems()">All Items</a> -->
        <!--     · -->
        <!--     <a [routerLink]="['/info']">About</a> -->
        <!-- </p> -->

        <p>ethereum tools</p>
    </div>

</footer>
