<div class="dialog">
  <h1 mat-dialog-title class="title">{{item.name}}</h1>
  <div mat-dialog-content class="content">
    <div class="full-width" *ngIf="!txResult">
        <h3 class="header">transaction hex</h3>
        <br>
      <textarea class="input" rows="5" matInput [(ngModel)]="txInput"></textarea>
        <br>
      <button class="btn" mat-raised-button color="primary" (click)="decode()">submit</button>
  
  
      <br><br><br>
    </div>

    
    <h3 class="header">result</h3>
      <br>
    <div class="text-single-line-wrap" *ngIf="!txResult || !txResult.nonce">
      <p>{{txResult}}</p>
    </div>

    <div class="text-single-line-wrap left-align-innards" *ngIf="txResult && txResult.nonce">
        <p><b>txid: </b><a target="_blank" href="https://etherscan.io/tx/{{txResult.txid}}">{{txResult.txid}}</a></p>
        <p><b>to: </b>{{txResult.to}}</p>
        <p><b>from: </b>{{txResult.from}}</p>
        <p><b>amount: </b>{{txResult.value}}</p>
        <p><b>gas price: </b>{{txResult.gasPrice}}</p>
        <p><b>gas limit: </b>{{txResult.gasLimit}}</p>
        <p><b>data: </b>{{txResult.data}}</p>
        <p><b>nonce: </b>{{txResult.nonce}}</p>

    </div>
    
  </div>
  <div class="padding">
  </div>
</div>
  